<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">

  {{!-- font-family: 'Open Sans', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Signika', sans-serif; --}}
  <link href="https://fonts.googleapis.com/css?family=Lobster|Open+Sans|Signika" rel="stylesheet">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

  {{!-- <script src="/js/grained.js"></script> --}}
  <script src="/js/sidLogic.js"></script>
  <script src="/js/index.js"></script>

  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>