<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<<<<<<< HEAD
  <script src="/js/sidLogic.js"></script>
=======
  <script src="/js/index.js"></script>

>>>>>>> 08bc5f0d56a4043d1be1b31f5370a694c1befd28
  <title>Home Page</title>
</head>

<body>
  {{{body}}}
</body>

</html>

