<link
  href='https://fonts.googleapis.com/css?family=Roboto:900,900italic,500,400italic,100,700italic,300,700,500italic,100italic,300italic,400'
  rel='stylesheet' type='text/css'>
{{!-- login/sign up page --}}
<div id="fback">
  <div class="johnback"></div>
  <div class="garrettback"></div>
</div>

<div id="textbox">
  <div class="toplam">
    {{!-- when clicking the sign upu button the image will shift to the left --}}
    <div class="left">
      <div id="ic">
        <h2>Sign Up</h2>
        <p>Welcome new friend. You are about to sign up for the greatest site in existance... at least that's what our
          Mother's tell us.</p>
        {{!-- <form id="johnap" name="signup_form" id="signup_form" action="/api/signup" method="post" enctype="multipart/form-data" onsubmit="return false;"> --}}
        <form id="signup-form">
          <div class="john form-group">
            <label class="control-label" for="usernameSignup">First Name</label>
            <input type="name" id="nameSignup" class="form-control" cols="50" rows="10"></input>
          </div>
          <div class="john sn form-group">
            <label class="control-label" for="usernameSignup">Last Name</label>
            <input type="name" id="lastNameSignup" value="" class="form-control" cols="50" rows="10"></input>
          </div>
          <div class="form-group">
            <label class="control-label" for="usernameSignup">Email</label>
            <input type="name" id="usernameSignup" class="form-control" cols="50" rows="10"></input>
          </div>
          <div class="form-group">
            <label class="control-label" for="userPasswordSignup">Password</label>
            <input type="password" id="userPasswordSignup" value="" class="form-control" cols="50" rows="10"></input>
          </div>

          <input type="submit" name="signup-submit" id="signup-submit" value="Sign Up" class="johnbtn" />
        </form>
        {{!-- allows users to sign in. if on the sign up page clicking login will shift the image to allow for log in --}}
        <button id="moveright">Login</button>
      </div>
    </div>

    <div class="right">
      <div id="ic">
        <h2>Login</h2>
        <p>Welcome back! We have seperation issues... We really missed you. </p>
        <form id="login-form">

          <div class="form-group">
            <label class="control-label" for="usernameLogin">Email</label>
            <input type="name" class="email form-control" id="usernameLogin" cols="50" rows="10"></input>
          </div>
          <div class="form-group soninpt">
            <label class="control-label" for="userPasswordLogin">Password</label>
            <input type="password" id="userPasswordLogin" class="password form-control" cols="50" rows="10"></input>
          </div>
          <input type="submit" value="Login" name="login-submit" id="login-submit" class="johnbtn" tabindex="100" />
        </form>

        <button id="moveleft">Sign Up</button>
      </div>
    </div>

  </div>
</div>
{{!-- js to allow divs to move on click --}}
<script>
  $('.form-control').on('focus blur', function (e) {
    $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
  }).trigger('blur');

  $('#moveleft').click(function () {
    $('#textbox').animate({
      'marginLeft': "0" //moves left
    });

    $('.toplam').animate({
      'marginLeft': "100%" //moves right
    });
  });

  $('#moveright').click(function () {
    $('#textbox').animate({
      'marginLeft': "50%" //moves right
    });

    $('.toplam').animate({
      'marginLeft': "0" //moves right
    });
  });


</script>