<div id="home">
  <div class="container">
    <div class="jumbotron">
      <h1 class="display-4">{{msg}}</h1>
      <p class="lead">Please Login or Sign up!</p>
      <a id="login-btn" class="btn btn-primary btn-lg" href="#" role="button">Login</a>
      <a id="signup-btn" class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
      <hr class="my-4">
      <form id="login-form">
        <div class="form-group">
          <label for="usernameLogin">Email</label>
          <input type="name" class="form-control" id="usernameLogin" placeholder="Enter Email" required>
        </div>
        <div class="form-group">
          <label for="userPasswordLogin">Password</label>
          <input type="password" class="form-control" id="userPasswordLogin" placeholder="Password" required>
        </div>
        <button id="login-submit" type="submit" class="btn btn-primary">Submit</button>
        <hr class="my-2">
      </form>

      <form id="signup-form" style="display:none">
        <div class="form-group">
          <label for="usernameSignup">Name</label>
          <input type="name" class="form-control" id="nameSignup" placeholder="Enter name" required>
        </div>
        <div class="form-group">
          <label for="usernameSignup">Last Name</label>
          <input type="name" class="form-control" id="lastNameSignup" placeholder="Enter last name" required>
        </div>
        <div class="form-group">
          <label for="usernameSignup">Email</label>
          <input type="name" class="form-control" id="usernameSignup" placeholder="Enter email" required>
        </div>
        <div class="form-group">
          <label for="userPasswordSignup">Password</label>
          <input type="password" class="form-control" id="userPasswordSignup" placeholder="Password" required>
        </div>
        <div class="form-group">
          <label for="confirmPassword">Re-enter Password</label>
          <input type="password" class="form-control" id="confirmPassword" placeholder="Password" required>
          <small id="passwordMatch" class="form-text"></small>
        </div>
        <button id="signup-submit" type="submit" class="btn btn-primary">Submit</button>
        <hr class="my-2">
      </form>

    </div>
  </div>
</div>

<script src="/js/index.js"></script>
