

<link href='https://fonts.googleapis.com/css?family=Roboto:900,900italic,500,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>

<div id="fback"><div class="johnback"></div><div class="garrettback"></div></div>

<div id="textbox">
  <div class="toplam">

    <div class="left">
      <div id="ic">
        <h2>Sign Up</h2>
        <p>Welcome new friend. You are about to sign up for the greatest site in existance... at least that's what my Mom says.</p>
        {{!-- <form id="johnap" name="signup_form" id="signup_form" action="/api/signup" method="post" enctype="multipart/form-data" onsubmit="return false;"> --}}
<form id="sampleSignup" name="signup_form" id="signup_form" action="/api/signup" method="post">
          <div class="john form-group">
            <label class="control-label" for="inputNormal">First Name</label>
            <input type="text" name="signup_username" id="signup_username" class="bp-suggestions form-control" cols="50" rows="10" ></input>
          </div>
        <div class="john sn form-group">
          <label class="control-label" for="inputNormal">Last Name</label>
          <input type="text" name="field_1" id="field_1" value="" class="bp-suggestions form-control" cols="50" rows="10"></input>
      </div>
      <div class="form-group">
        <label class="control-label" for="inputNormal">Email</label>
        <input type="text" name="signup_email" id="signup_email" class="bp-suggestions form-control" cols="50" rows="10"></input>
    </div>
    <div class="form-group">
      <label class="control-label" for="inputNormal">Password</label>
      <input type="password" name="signup_password" id="signup_password" value="" class="bp-suggestions form-control" cols="50" rows="10" ></input>
  </div>
  
<input type="submit" name="signup_submit" id="signup_submit" value="Sign Up" class="johnbtn"  />
</form>

<button id="moveright">Login</button>
</div>
</div>

<div class="right">
  <div id="ic">
    <h2>Login</h2>
    <p>Welcome back! We have seperation issues... We really missed you. </p>
    <form name="login-form" id="sampleLogin" action="/api/login" id="sidebar-user-login" method="POST" onsubmit="return false;">

      <div class="form-group">
        <label class="control-label" for="inputNormal">Email</label>
        <input type="text" name="log" class="email form-control" cols="50" rows="10" ></input>
      </div>
    <div class="form-group soninpt">
      <label class="control-label" for="inputNormal">Password</label>
      <input type="password" name="pwd" class="password form-control" cols="50" rows="10"></input>
  </div>
  <input type="submit" value="Login" class="johnbtn" tabindex="100" />
  </form>

<button id="moveleft">Sign Up</button>
</div>
</div>

</div>
</div>

<script>
  $('.form-control').on('focus blur', function (e) {
    $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
}).trigger('blur');

$('#moveleft').click(function() {
  $('#textbox').animate({
    'marginLeft': "0" //moves left
  });

  $('.toplam').animate({
    'marginLeft': "100%" //moves right
  });
});

$('#moveright').click(function() {
  $('#textbox').animate({
    'marginLeft': "50%" //moves right
  });

  $('.toplam').animate({
    'marginLeft': "0" //moves right
  });
});
    $("#sampleSignup").on("submit", function(event) {
        console.log("asdfadsf")
        event.preventDefault();
        var userData = {
            email: $(".email").val().trim(),
            password: $(".password").val().trim()
        };
        $.post("/api/signup", userData).then(function(data) {
            window.location.replace(data);
        })
    });

     $("#sampleLogin").on("submit", function(event) {
        console.log("asdfadsf")
        event.preventDefault();
        var userData = {
            email: $(".email").val().trim(),
            password: $(".password").val().trim()
        };
        $.post("/api/login", userData).then(function(data) {
            window.location.replace(data);
        })
    });


</script>
