<div class="mainpage">
    <div class="profile-column">

        <div class="profile-content">
            <h1>Profile</h1>
            <h3>Username</h3>

            <div class="user-info-box">
                <p><strong>Favorites</strong></p>
                <p>The Return of the King (1980)</p>
                <p>The Hobbit (1976?)</p>
                <p>Legend</p>
                <p>Etc...</p>
                <br>
            
            </div>
            
            <div class="user-info-box">
                <p><strong>Friends</strong></p>
                <p>Kat Gordon</p>
                <p>Sid Siddharthasomething</p>
                <p>John Garrett</p>
                <p>Hunter Wilkins</p>
            </div>
        </div>
    </div>

    <div class="results-box">
        <header>
        <h1>Fo'Reel</h1>
        <input type="text" id = "search-box" placeholder = "Search...">
        </header>
        
        
        <div class="content-box">
            <div class="content">
                <img src = "https://via.placeholder.com/200x150/502934">
                <img src = "https://via.placeholder.com/200x150/502940">
                <img src = "https://via.placeholder.com/200x150/502945">
                <img src = "https://via.placeholder.com/200x150/502950">
                <img src = "https://via.placeholder.com/200x150/502955">
                <img src = "https://via.placeholder.com/200x150/502960">
                <img src = "https://via.placeholder.com/200x150/502965">
                <img src = "https://via.placeholder.com/200x150/502970">
                <img src = "https://via.placeholder.com/200x150/502975">
                <img src = "https://via.placeholder.com/200x150/502980">
            </div>
        </div>
    </div>
</div>
    

