<div class="mainpage">
    <div class="profile-column">

        <div class="profile-content">
            <header>
                <img id = "profile-pic" src="https://via.placeholder.com/60x60/502934">
                <h3>Username</h3>
            </header>
            

            <div class="user-info-box">
                <p><strong>Favorites</strong></p>
                <p>The Return of the King (1980)</p>
                <p>The Hobbit (1976?)</p>
                <p>Legend</p>
                <p>Etc...</p>
                <br>

            </div>

            <div class="user-info-box">
                <p><strong>Friends</strong></p>
                <p>Kat Gordon</p>
                <p>Sid Siddharthasomething</p>
                <p>John Garrett</p>
                <p>Hunter Wilkins</p>
            </div>
        </div>
    </div>

    <div class="results-box">
        <header>
            <h1>Fo'Reel</h1>
            <input type="text" id="search-box" placeholder="Movie 1">
            <input type = "text" id = "search-box-2" placeholder = "Movie 2">
        </header>


        <div class="content-box">
            <div class="content">
                <img src="https://via.placeholder.com/200x325/502934">
                <img src="https://via.placeholder.com/200x325/502940">
                <img src="https://via.placeholder.com/200x325/502945">
                <img src="https://via.placeholder.com/200x325/502950">
                <img src="https://via.placeholder.com/200x325/502955">
                <img src="https://via.placeholder.com/200x325/502960">
                <img src="https://via.placeholder.com/200x325/502965">
                <img src="https://via.placeholder.com/200x325/502970">
                <img src="https://via.placeholder.com/200x325/502975">
                <img src="https://via.placeholder.com/200x325/502980">
            </div>
        </div>
    </div>
</div>

<script src = "../public/js/resultspage.js"></script>