<div class="mainpage">
    <div class="profile-column">

        <div class="profile-content">
            <h1>Profile</h1>
            <h3>Username</h3>

            <div class="user-info-box">
                <p><strong>Favorites</strong></p>
                <p>The Return of the King (1980)</p>
                <p>The Hobbit (1976?)</p>
                <p>Legend</p>
                <p>Etc...</p>
                <br>

            </div>

            <div class="user-info-box">
                <p><strong>Friends</strong></p>
                <p>Kat Gordon</p>
                <p>Sid T</p>
                <p>John Garrett</p>
                <p>Hunter Wilkins</p>
            </div>
        </div>
    </div>

    <div class="results-box">
        <header>
            <form id="search-form">
                <h1>Fo'Reel</h1>
                <input type="text" id="search-box" placeholder="Search...">
                <input type="text" id="search-box-2" placeholder="Search...">
                <input type="button" id="submit" value="Submit">
            </form>
        </header>


        <div class="content-box">
            <div class="content">
                
            </div>
        </div>
    </div>
</div>
{{!-- kat commented this out bc were not supposed to link it here --}}
{{!-- <script src="/public/js/sidLogic.js"></script> --}}