{{!-- <div class="mainpage"> --}}
{{!-- <div class="profile-column">
        <div class="profile-content">
            <header>
                <img id = "profile-pic" src="https://via.placeholder.com/60x60/502934">
                <h3 id="nameHeader">{{name}}</h3>
            </header>
            
            <div class="user-info-box">
                <p><strong>Favorites</strong></p>
                <p>The Return of the King (1980)</p>
                <p>The Hobbit (1976?)</p>
                <p>Legend</p>
                <p>Etc...</p>
                <br>
            </div>
            <div class="user-info-box">
                <p><strong>Friends</strong></p>
                <p>Kat Gordon</p>
                <p>Sid T</p>
                <p>John Garrett</p>
                <p>Hunter Wilkins</p>
            </div>
        </div>
    </div> --}}

            
{{!-- navbar --}}
<nav>
    <h1 id=>Logo </h1>

     <div class="navSearchItems">
        <div class="dropdown">
  
      <a id="nav-item" href="#"><span id="nameHeader">Welcome {{name}}</span></a>
     
        <div class="dropdown-content">
            <a id="nav-item" href="#">Search</a>
            <a id="nav-item" href="#">Favorites</a>
            <a id="nav-item" href="#">Logout</a>
        </div>
        </div>
    </div>
    </div>
</nav>

{{!-- mainpage - recommendation serach bar --}}

<div class="jumbotron jumbotron-fluid" id="searchJumbotron">
  <div class="container">
            <ul>
		<li>P</li>
		<li>O</li>
		<li>P</li>
		<li>C</li>
        <li>O</li>
		<li>R</li>
		<li style="margin-right:36px">N</li>
		<li>N</li>
		<li>I</li>
		<li>G</li>
		<li>H</li>
		<li>T</li>


            </ul>
	

    <div class="display-12"> 
  
		</div>
    <form id="search-form">
        
        <div class="row">
        

            <div class="col-md-3">
                {{!-- empty --}}
            </div>
            <div class="col-md-4">
                <img src="/images/Webp.net-compress-image.jpg" alt="MOVIE POSTER 1" class="searchMovieImg">
            </div>
            <div class="col-md-4">
                <img src="/images/hermes_rivera_469608_xqJqZ.jpg" alt="MOVIE POSTER 2" class="searchMovieImg">
            </div>
             <div class="col-md-3">
                {{!-- empty --}}
            </div>
        </div>
    <p class="lead">Pick two movies and we will give you recommendations based on your choices</p>

        <div class="row">

            <div class="col-md-3">
            </div>
            <div class="col-md-4">
                <input type="text" class="search" id="search-box" placeholder="Movie 1...">
            </div>
            <div class="col-md-4">
                <input type="text" class="search" id="search-box-2" placeholder="Movie 2...">
            </div>
                <div class="col-md-3">
            </div>
                
        </div>

        <div class="row">
            <div class="col-md-6">
                    {{!-- empty --}}
            </div>
           
             {{!-- <div class="col-md-3">
             <input style="margin-right: 50px" type="button" id="submit" value="Get Recomendations">
            </div> --}}
            <div class="col-md-4">
                    {{!-- empty --}}
            </div>

            </div>
            <div class="row">
                 <a id="submit" value="Get Recomendations" href="#" onclick="clearFields()">
		<svg><rect></rect></svg>SUBMIT</a>
        

            <div class="col-md-3">
            </div>
        </form>
    </div>
</div>



            
        </div>
    </form>
  </div>
</div>

{{!-- <div class="jumbotron jumbotron-fluid" id="searchJumbotron">
    

    <div class="container">

        <p id="instructions">Pick two movies and we'll give you recommendations based on your choices.</p>
        <form id="search-form">
            <div class="row"> --}}

                {{!-- <div class="col-md-3"> --}}
                    {{!-- empty --}}
                {{!-- </div>
                <div class="col-md-3">
                    <img src="https://place-hold.it/150x213" alt="Movie Poster 1" class="searchMovieImg">
                </div>

                <div class="col-md-3">
                    <img src="https://place-hold.it/150x213" alt="Movie Poster 2" class="searchMovieImg" id="movie2">
                </div>
                <div class="col-md-3"> --}}
                    {{!-- empty  --}}
                {{!-- </div>
            </div>
            <div class="row"> --}}


                {{!-- <div class="col-md-3"> --}}
                    {{!-- empty --}}
                {{!-- </div>
                <div class="col-md-3">
                    <input type="text" class="search" id="search-bar" placeholder="Movie 1...">
                </div>
                <div class="col-md-3">
                    <input type="text" class="search" id="search-box-2" placeholder="Movie 2...">
                </div>
                <div class="col-md-3"> --}}
                    {{!-- empty  --}}
                {{!-- </div>
            </div>
            <div class="row">
                <div class="col-md-4"> --}}
                    {{!-- empty --}}
                {{!-- </div>
                <div class="col-md-3">
                    <input type="button" id="submit" value="Get Recomendations">
                </div>
                <div class="col-md-5"> --}}
                    {{!-- empty --}}
                {{!-- </div>
            </div>
        </form>
    </div>
</div> --}}


{{!-- Results --}}
<div style="background-color:black"  class="jumbotron jumbotron-fluid">
    <h2 class="subTitle">You should check out:</h2>
    <div class="results-box">


        <div class="content-box">
            <div class="content">

            </div>
        </div>
    </div>
</div>
</div>
{{!-- kat commented this out bc were not supposed to link it here --}}

{{!-- nuh uh           --}}
{{!--     -Hunter      --}}

{{!-- <script src="/public/js/sidLogic.js"></script> --}}
<script type="text/javascript">
function clearFields() {
    document.getElementById("search-box").value=""
    document.getElementById("search-box-2").value=""
}
</script>