<div class="userpage-group">
    <header>
        <h1 id="username-text">Username</h1>

    </header>
    <div class="centering-div">
        <div class="list-group">
            <h2>Favorites</h2>
            <ol>
                <li>Jombo</li>
                <li>Timepole</li>
                <li>Pargobloggbob</li>
                <li>Timepole again</li>
                <li>Journey to the Center of the Earth</li>
            </ol>
        </div>
        <div class="list-group right">
            <h2>Friends</h2>
            <ul>
                <li>Barbara</li>
                <li>Barbara</li>
                <li>Barbara</li>
                <li>Barbara</li>
                <li>Barbara</li>
            </ul>
        </div>

    </div>

</div>