{{!-- <div>
    <form id="sampleSignup">
        <input placeholder="Email" class="email">
        <input placeholder="Password" type="password" class="password">
        <button>Submit</button>
    </form>
</div>

<script>
    $("#sampleSignup").on("submit", function(event) {
        console.log("asdfadsf")
        event.preventDefault();
        var userData = {
            email: $(".email").val().trim(),
            password: $(".password").val().trim()
        };
        $.post("/api/signup", userData).then(function(data) {
            window.location.replace(data);
        })
    });

</script>  --}}