.list-group-item {
  line-height: 2.5;
}

html {
  height: 100%;
}

body {
  font-family: "Signika", sans-serif;
  background: rgb(17, 17, 17);
  color: lightslategrey;
  height: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to right, rgb(171, 117, 196), rgb(160, 117, 210));
}

/* login page */
.jumbotron {
  /* background: rgb(17, 17, 25); */
  background: rgb(26, 26, 26);
  color: rgb(211, 127, 165);
  margin-top: 0px;
  margin-bottom: 0px;
}

#login-btn {
  background: rgb(124, 58, 167);
  border-color: rgb(73, 29, 127);
  border-radius: 4px;
  padding: 8px;
}

#signup-btn {
  background: rgb(73, 29, 127);
  border-radius: 4px;
  border-color: rgb(47, 17, 98);
  padding: 8px;
}

.form-control {
  border-color: rgb(124, 58, 167);
  border-width: 2px;
  font-weight: bolder;
  background: rgb(17, 17, 25);
  width: 70%;
  color: rgb(171, 117, 196);
}

.form-control:focus {
  background: rgb(47, 17, 98);
  color: rgb(211, 127, 127);
}

.userpage-group {
  width: 75%;
  height: 100%;
  margin: 0 auto;
  padding: 50px;
  background: rgb(17, 17, 25);
}

.list-group {
  width: 47%;
  padding: 15px;
  float: left;
  background: rgb(17, 17, 25);
}

/* .right{
float:right;

} */

.centering-div {
  margin: 0 auto;
}

.centered{
  text-align:center;
}

.mainpage {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
  color: rgb(224, 196, 209);
}

.mainpage strong {
  color: rgb(206, 137, 83);
}

.mainpage h3 {
  color: rgb(231, 184, 81);
}

.user-info-box {
  border: rgb(31, 29, 42) solid 2px;
  border-radius: 4px;
  background: rgb(9, 5, 14);
  color: rgb(186, 143, 64);
  margin-bottom: 15px;
  padding: 5px;
}

.results-box header {
  padding: 15px;
  padding-right: 10%;
}

.content-box {
  width: 100%;
  height: 75%;
  background: rgb(6, 3, 7);
  overflow-y: scroll;
  text-align: center;
}

.content-box img {
  min-width: 20%;
  max-width: 25%;
  display: inline-block;
  margin: 5px;

  transition: min-width 0.25s, border-width 0.25s;
}

.content-box img:hover {
  cursor: pointer;
  border: rgb(186, 143, 64) solid 4px;
}

.content {
  margin: 15px auto;
}

.searchbar::placeholder {
  color: rgb(69, 60, 83);
}

@media only screen and (min-width: 700px) {
  .content-box img:hover {
    cursor: pointer;
    min-width: 30%;
  }
}

@media only screen and (max-width: 700px) {
  .content img {
    min-width: 66%;
  }

  .content-box img:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width:1000px){
  .content-box img{
    min-width:20%;
  }

  .content-box img:hover{
    min-width:24%;
  }
}

#logo{
  width:75%;
}

/* barbara styling */
/* navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  z-index: 99;
  width: 100%;
  top: 0;
  background: rgb(17, 17, 17);
}

.nav-content{
  text-align:center;
  margin-left:10%;
  margin-right:10%;
  width:100%;
}

nav h1 {
  font-family: "Open Sans", sans-serif;
  color: white;
  font-size: 30px;
  padding: 10px 0;
  padding-left: 20px;
  margin: 0;
  width: auto;
}
.navSearchItems a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  margin: 0 20px;
  font-family: "Open Sans", sans-serif;
}
.navSearchItems a:hover {
  color: #bfbfbf;
}
/* log in page */
.form-section-small {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 48%;
}

.form-section-large {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* movie recoomendation div */
#searchJumbotron {
  font-family: "Open Sans", sans-serif;
  min-height: 70%;
  margin: 30px 65px;
  text-align:center;
  /* border-radius: 25px; */
}
#instructions {
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}
/* .searchBox {
  width: 150px;
} */
.searchMovieImg {
  margin-bottom: 30px;
  margin-top: 40px;
}
/* #submit {
  margin-top: 40px;
  margin-bottom: 150px;
} */
.subTitle {
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 300px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background: rgb(40, 40, 40);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 2;
}
.dropdown:hover .dropdown-content {
  display: block;
}
#dropDown {
  transform: rotate(90deg);
  transform: scaleX(-1);
  z-index: 1;
}
/* #movie2 {
  margin-left: 45px;
}
#search-box-2 {
  margin-left: 45px;
} */
/* ======================================================================================================================== */
/* new log in page */
body-login {
  font-size: 12px;
  max-width: 10000px;
  background: #f5f5f5;
  min-width: 960px;
  width: 100%;
  font-family: Roboto;
  text-rendering: optimizeLegibility;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  /* 3 */
  -moz-osx-font-smoothing: grayscale;
  /* 4 */
}

p {
  font-feature-settings: "kern" 1;
  /* 5 */
  font-kerning: normal;
  /* 5 */
  hyphens: auto;
  /* 6 */
}

.fullwidth,
body#bp-default #wp-admin-bar .padder {
  width: 100% !important;
  max-width: 10000px !important;
  min-width: 960px;
  margin: 0 auto;
  clear: both;
  float: left;
}

h2 {
  font-size: 30px;
  font-weight: 300;
  color: rgb(207, 127, 163);
}

.form-group {
  height: 55px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  margin-top: -10px;
  color: rgb(207, 127, 163);
}

.control-label {
  font-size: 16px;
  font-weight: 400;
  opacity: 0.4;
  pointer-events: none;
  position: absolute;
  -webkit-transform: translate3d(0, 22px, 0) scale(1);
  -moz-transform: translate3d(0, 22px, 0) scale(1);
  transform: translate3d(0, 22px, 0) scale(1);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  transform-origin: left top;
  -webkit-transition: 240ms;
  -moz-transition: 240ms;
  transition: 240ms;
}

.form-group.focused .control-label {
  opacity: 1;
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  transform: scale(0.75);
  color: rgb(207, 127, 163) !important;
}

.form-control {
  align-self: flex-end;
}

.form-control::-webkit-input-placeholder {
  color: transparent;
  -webkit-transition: 240ms;
  -moz-transition: 240ms;
  transition: 240ms;
}

.form-control:focus::-webkit-input-placeholder {
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

.form-group.focused .form-control::-webkit-input-placeholder {
  color: #bbb;
}

#textbox {
  width: 50%;
  max-height: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 50%;
  position: absolute;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.toplam {
  width: 200%;
  height: 100%;
  position: relative;
  left: 0;
  left: -100%;
}

.left {
  width: 50%;
  height: 100%;
  background: #2c3034;
  left: 0;
  position: absolute;
}

.right {
  width: 50%;
  height: 100%;
  background: rgb(29, 30, 35);
  right: 0;
  position: absolute;
}

#ic {
  width: 250px;
  margin: 0 auto;
  top: 50%;
  margin-top: -162px;
  position: absolute;
  left: 50%;
  margin-left: -125px;
}

.left #ic {
  margin-top: -232px;
}

#ic p {
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 30px;
}

form#signup-form input {
  border-bottom: 1px solid #cdcdcd;
  color: #959595;
  font-size: 14px;
  width: 100%;
  resize: none;
  max-height: 20px;
  outline: 0;
  border-left: 0;
  border-right: 0;
  padding: 16px 0;
  margin-top: 20px !important;
  background: none;
  border-top: 0;
  overflow: hidden;
  transition: border 0.2s;
  -webkit-transition: border 0.2s;
}

#signup-form .form-group {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  color: rgb(207, 127, 163);
}

#signup-form h2 {
  font-size: 28px;
  font-weight: 400;
  color: rgb(207, 127, 163);
  line-height: 35px;
}

#signup-form .soninpt {
  margin-bottom: 30px;
}

.left form#signup-form input {
  border-bottom: 1px solid #45494c;
}

.left .control-label {
  color: #959595;
}

.left .john {
  width: 46% !important;
  float: left;
  margin-right: 8%;
}

.left .sn {
  margin-right: 0;
}

form#signup-form .johnbtn {
  width: auto;
  float: right;
  background: rgb(207, 127, 163);
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0 !important;
  line-height: 16px;
  font-family: Roboto;
  text-transform: uppercase;
  max-height: 36px;
  height: 36px;
  letter-spacing: 0.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  border: 0;
}

form#signup-form .johnbtn:hover {
  background: rgb(138, 27, 77);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

#moveleft,
#moveright {
  width: auto;
  float: right;
  background: none;
  padding: 10px 16px;
  font-family: Roboto;
  font-size: 14px;
  color: rgb(207, 127, 163);
  font-weight: 600;
  margin: 0 10px !important;
  line-height: 16px;
  text-transform: uppercase;
  cursor: pointer;
  max-height: 36px;
  height: 36px;
  letter-spacing: 0.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  border: 0;
  outline: 0;
}

#moveleft:hover {
  background: #eee;
}

#moveright:hover {
  background: #363a3d;
}

#fback {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -9999;
}

.johnback {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
  background: #03a9f4
    url(https://images.unsplash.com/photo-1512149177596-f817c7ef5d4c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=945&q=80);
  background-size: cover;
  background-position: 50% 50%;
}

.garrettback {
  position: absolute;
  left: 0;
  width: 50%;
  height: 100%;
  background: #03a9f4
    url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80);
  background-size: cover;
  background-position: 50% 50%;
}
form#login-form .johnbtn {
  width: auto;
  float: right;
  background: rgb(207, 127, 163);
  padding: 10px 16px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  margin: 0 !important;
  line-height: 16px;
  font-family: Roboto;
  text-transform: uppercase;
  max-height: 36px;
  height: 36px;
  letter-spacing: 0.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  border: 0;
}

form#login-form .johnbtn:hover {
  background: rgb(138, 27, 77);
  -webkit-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}
form#login-form input {
  border-bottom: 1px solid #cdcdcd;
  color: #959595;
  font-size: 14px;
  width: 100%;
  resize: none;
  max-height: 20px;
  outline: 0;
  border-left: 0;
  border-right: 0;
  padding: 16px 0;
  margin-top: 20px !important;
  background: none;
  border-top: 0;
  overflow: hidden;
  transition: border 0.2s;
  -webkit-transition: border 0.2s;
}

#login-form .form-group {
  width: 100%;
  float: left;
  margin-bottom: 20px;
  color: rgb(207, 127, 163);
}

#login-form h2 {
  font-size: 28px;
  font-weight: 400;
  color: rgb(207, 127, 163);
  line-height: 35px;
}

#login-form .soninpt {
  margin-bottom: 30px;
}

.left form#login-form input {
  border-bottom: 1px solid #45494c;
}
/* ==================================================================== */
/* letter animation */
ul {
  position: absolute;
  top:125px;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
  display: flex;
}
ul li {
  list-style: none;
  color: #484848;
  font-family: arial;
  font-size: 5em;
  letter-spacing: 18px;
  animation: ani 3.6s linear infinite;
}
@keyframes ani {
  0% {
    color: #484848;
    text-shadow: none;
  }
  90% {
    color: #484848;
    text-shadow: none;
  }
  100% {
    color: #fff900;
    text-shadow: 0 0 7px #fff900, 0 0 50px #ff6c00;
  }
}
ul li:nth-child(1) {
  animation-delay: 0.3s;
}
ul li:nth-child(2) {
  animation-delay: 0.6s;
}
ul li:nth-child(3) {
  animation-delay: 0.9s;
}
ul li:nth-child(4) {
  animation-delay: 1.2s;
}
ul li:nth-child(5) {
  animation-delay: 1.5s;
}
ul li:nth-child(6) {
  animation-delay: 1.8s;
}
ul li:nth-child(7) {
  animation-delay: 2.1s;
}
ul li:nth-child(8) {
  animation-delay: 2.4s;
}
ul li:nth-child(9) {
  animation-delay: 2.7s;
}
ul li:nth-child(10) {
  animation-delay: 3s;
}
ul li:nth-child(11) {
  animation-delay: 3.3s;
}
ul li:nth-child(12) {
  animation-delay: 3.6s;
}

/* ==================================================================== */
/* fancy submit button */

b {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  letter-spacing: 4px;
  color: #fff;
  text-decoration: none;

  margin:15px 0;
}
b svg,
b svg rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: transparent;
}
b svg rect {
  stroke: rgb(207, 127, 163);
  stroke-width: 4;
  transition: 2s;
  stroke-dasharray: 60 200;
  stroke-dashoffset: 320;
}
b:hover svg rect {
  stroke: #fff900;
  stroke-dasharray: 200 60;
  stroke-dashoffset: 0;
}

.submission{
  margin:15px 0 50px 0;
}

.submission:hover{
  cursor:pointer;
}

/* ==================================================================== */
/* search boxes for the results page */

.display-4 {
  text-align: center;
}

.lead {
  text-align: center;
}
#search-box,
#search-box-2 {
  color:rgb(231, 184, 81);
  max-width: 150px;
  max-height: 40px;
  padding: 10px;
  margin: 20px auto 0 auto;
  background-color: rgb(21, 21, 23);
  border-radius: 8px;
  border:rgb(231, 184, 81) solid 2px;
  /* box-shadow: 0 10px 20px #fff900, 0 0 0 10px #ffffffeb; */
}

#search-box::placeholder, #search-box-2::placeholder{
  color:white;
}


@media screen and (max-width:800px){
  .searchMovieImg{
    display:none;
  }

}
/* ===================================================================== */
/* 404 page */

/* this was my original animaition of the eyes following you on the page please dont delete. I have not added to my codepen yet */
/* .eyes{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  width:100%;
  text-align:center
}
.eye{
  width:180px;
  height:120px;
  background:#fff;
  display:inline-block;
  margin:40px;
  border-radius:50%;
  position:relative;
  border:5px solid #fff;
}
  .eye:before {
      content: "";
      -webkit-clip-path: polygon(8% 58%, 16% 50%, 25% 45%, 37% 43%, 45% 43%, 59% 44%, 68% 48%, 72% 54%, 75% 58%, 62% 55%, 52% 52%, 43% 51%, 32% 52%, 22% 53%);
      background: #fff;
      position: absolute;
      top: -100px;
      left:-15px;
      width: 250px;
      height:150px;
      z-index: 2;
  }

.ball{
  width:40px;
  height:40px;
  background:#000;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  border-radius:50%;
  border:15px solid blue;
}
.ball:before{
  content:"";
  position:absolute;
  top:5px;
  height:20px;
  width:10px;
  height:10px;
  background:#fff;
  border-radius:50%;
} */

/* this was my original animaition of the eyes following you on the page please dont delete. I have not added to my codepen yet */
